name: Build search index

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  generate-search-index:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Generate search index
        run: npm run generate:search-index
